
a{
    text-decoration: none;
}


.about-me{
    height:45vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    height:30px;
    width: 30px
}

li{
   list-style: none;
}

.contact{
    background-color: azure;
}